run = ["uvicorn", "main:app", "--host", "0.0.0.0", "--reload"]
modules = ["python-3.11"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["uvicorn", "main:app", "--host", "0.0.0.0"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5173
externalPort = 3000

[[ports]]
localPort = 8000
externalPort = 80

[workflows]

[[workflows.workflow]]
name = "Start Frontend"
author = 32492946
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend/taskfront && npm run dev"
